<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h5 style="color: white">Inhald - you favorite fake news</h5>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h5 style="color: white">Contact Us</h5>
            <ul class="footer-links">
              <li><a href="#">Jojo reference</a></li>
              <li><a href="#">6666666666</a></li>
              <li><a href="#">66666@gmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <ul class="footer-links">
              <li><a href="/user">API</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Cookies... hm</a></li>
              <li><a href="#">Help yourself</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
