<header class="fixed-top">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="header-links pull-left">
            <li>
              <a style="color: black; font-weight: 900; font-size: 30px " class="nav-link" href="#">Inhalt</a>
            </li>
          </ul>

          <ul class="header-links pull-right">
            <li>
              <a  style="color: black" class="nav-link" href="/article">Article</a>
            </li>
            <li>
              <a  style="color: black" class="nav-link" href="/user">User API</a>
            </li>
            <li>
            <a (click)="onBackButtonClick()">Login</a>
            </li>
            <li>
              <a class="nav-link" href="">Profile</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
