<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-body">
      <div class="tab-content">
        <div routerLink="" class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://sun9-43.userapi.com/c855136/v855136633/195ed3/V0OljLscyJQ.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
