<app-header></app-header>
<br>
<router-outlet></router-outlet>


<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-6">
        <div routerLink="" class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://sun9-43.userapi.com/c855136/v855136633/195ed3/V0OljLscyJQ.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://thumbs.gfycat.com/SpecificSorrowfulGrison-mobile.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info" >Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://res06.bignox.com/noxinfluencer/youtube/avatar/9a79f65888a7cd30e5d1009da479c69f.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://im0-tub-ru.yandex.net/i?id=1a2eb5dde812827c4be2c7e73b71475b&ref=rim&n=33&w=145&h=150" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://yt3.ggpht.com/a/AATXAJycg7fE8lhIZAzocrTYnSLuLWfmLeZjZneeuHmaCQ=s900-c-k-c0xffffffff-no-rj-mo" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="src/file-0.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6 productHover">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="src/file-0.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/directives" routerLink="/directives" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img width="240" height="240" src="https://sun1-90.userapi.com/impf/c851236/v851236548/bad94/O4QaHAJBUqw.jpg?size=604x604&quality=90&sign=c9699a44880d51c863e238ec85c8fbeb" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Lorem</p>
            <h3 class="product-name"><a href="#">Article about something</a></h3>
            <p>Article about something</p>
            <button href="/article" class="btn btn-info">Read</button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
